body {
  background-color: whitesmoke;
  color:  rgb(217, 167, 101);
  font-size: 2.1em;
}

a:link, a:visited, input[type=submit] {
  background-color: #5b1712d4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

a:hover, a:active, input[type=submit]:hover, input[type=submit]:active {
  background-color: #6f1710d4;
  cursor: pointer;
}

.borderless {
  border: none;
  padding: 0;
  margin-left: 2.5px;
  margin-right: 2.5px;
}